
<section id='content'>
	<div id='video'>
		<iframe class="" id="" type="text/html" width="595" height="490" src="<%= @video.embed_url %>" frameborder="0"></iframe>
	</div>
	<div id='desc'>
		<h2 id='pTitle'><%= @video.title %></h2>
		<%= render 'social' %>
	</div>
</section>



