<section id='content'>
	
	<div id='video'>
		<iframe class="" id="" type="text/html" width="595" height="490" src="<%= @playlist.videos[0].embed_url %>" frameborder="0"></iframe>
	</div>
	<div id='desc'>
		<h2 id='pTitle'><%= @playlist.title %></h2>
		<% @playlist.videos.each do |video|%>
	
			<article><a href="/video/<%= video.unique_id %>"><%= video.title %></a></article>
		<%end%>
	</div>
</section>

