	
		<h2 id="pTitle">¡Atr&eacute;vete a iniciar!</h2>
		<section id="videosHome">
			<% @playlist.videos.each do |video|%>
				<article class="videoHome">
					<a href="/video/<%= video.unique_id %>"><img src="<%= video.thumbnails[1].url %>"></a>
				</article>
			<%end%>
		</section>

