/*
 * Prefixes
*/
* {
  margin: 0;
  padding: 0; }

body, html {
  background: url("b/bpatt.jpg");
  font-family: "Signika";
  font-size: 10px;
  color: #FFF;
  width: 100%; }
  body a, html a {
    text-decoration: none; }
    body a:hover, body a:visited, html a:hover, html a:visited {
      text-decoration: none; }

header {
  background: url("b/hpatt.jpg");
  height: 150px;
  width: 100%;
  position: relative; }

#brain {
  color: #000;
  background: url("b/mpatt.jpg");
  margin: 0 auto;
  width: 80%; }

#hp {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 80%; }

header, footer, #brain {
  min-width: 300px; }

#videoFrame {
  display: block;
  max-width: 100%; }

footer {
  background: url("b/fpatt.jpg");
  min-height: 75px;
  width: 100%; }
  footer #fcont {
    margin: 0 auto;
    width: 80%;
    padding: 3em 0; }
    footer #fcont #fsocial {
      width: 155px;
      margin: 0 auto;
      display: block;
      vertical-align: middle; }
      footer #fcont #fsocial img {
        display: inline-block;
        margin: 0 1em 0 0;
        max-width: 4em; }

::selection {
  background: #0a562f;
  color: #FFF; }

nav {
  display: inline-block;
  position: absolute;
  bottom: 0;
  font-size: 2em; }
  nav a {
    color: #FFF;
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%; }
    nav a:visited {
      color: #FFF; }
  nav #searcher {
    vertical-align: middle; }
  nav ul {
    list-style: none;
    vertical-align: middle; }
    nav ul .sI {
      float: left;
      position: relative;
      padding: 0 1em; }
      nav ul .sI:hover {
        background: #0a562f; }
      nav ul .sI:hover ul {
        display: block; }
      nav ul .sI ul {
        background: rgba(56, 56, 56, 0.8);
        display: none;
        position: absolute; }
        nav ul .sI ul li {
          padding-left: 0.5em;
          padding-right: 0.5em;
          white-space: nowrap;
          display: block; }
          nav ul .sI ul li:hover {
            background: #0a562f; }

#eye {
  /*555x212*/
  display: inline-block;
  width: 30%;
  height: 100%; }

#eye img {
  min-width: 323px;
  width: 100%; }

#searcher {
  background: url(o/schr.png); }

#pTitle {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 5em; }

#videosHome {
  margin: 3em auto 0 auto;
  display: block;
  width: 80%; }
  #videosHome .videoHome {
    width: 33%;
    max-width: 33.1%;
    display: inline-block;
    vertical-align: middle; }

#description {
  display: block;
  margin: 3em auto;
  width: 80%;
  font-size: 3em;
  text-align: center; }

#cf_statistics {
  display: block;
  width: 45%;
  margin: 0 auto; }
  #cf_statistics #data_cf {
    width: 100%;
    list-style: none; }
    #cf_statistics #data_cf li {
      border: 1px solid #0a562f;
      border-width: 0.4em 0.4em 1.5em 0.4em;
      max-width: 33.3%;
      display: inline-block;
      vertical-align: middle;
      width: 31%;
      cursor: pointer;
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -webkit-transition: all 1s ease; }
      #cf_statistics #data_cf li span {
        font-weight: bold;
        font-size: 2em;
        display: block;
        width: 100%;
        text-align: center; }
      #cf_statistics #data_cf li:hover {
        color: #FFF;
        background: rgba(10, 86, 47, 0.6);
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -webkit-transition: all 1s ease; }

/* Uriel */
/*Responsive*/
@media all and (max-width: 400px) {
  nav {
    display: block; }
    nav ul .sI {
      display: block; }

  #hp {
    height: auto; }
    #hp #eye {
      display: block;
      width: 100%; }
      #hp #eye img {
        min-width: 100px;
        max-width: 100%; } }
