/*
 * Prefixes
*/


$minheight: 150px;
$mxw: 100%;
$ems: 1em;

*{
	margin:0;
	padding: 0;
}

body,html{
	background: url('b/bpatt.jpg');
	font-family: "Signika";
	font-size: 10px;
	color: #FFF;
	width: $mxw;

	a{
		text-decoration: none;
		&:hover,&:visited{
			text-decoration:none;
		}
	}
}

header{
	background: url('b/hpatt.jpg');
	height: $minheight;
	width:$mxw;
	position: relative;
}

#brain{
	color: #000;
	background: url('b/mpatt.jpg');
	margin: 0 auto;
	width: $mxw - 20;
}

#hp{
	display: block;
	margin: 0 auto;
	height: $mxw;
	width: $mxw - 20;
}

header,footer,#brain{
	min-width: 300px;
}

#videoFrame{
  	display: block;
  	max-width: 100%;
}

footer{
	background: url('b/fpatt.jpg');
	min-height: $minheight / 2;
	width: $mxw;

	#fcont{
		margin:0 auto;
		width: 80%;
		padding: 3em 0;
		#fsocial{
			width:155px;
			margin: 0 auto;
			display: block;
			vertical-align: middle;
			img{
				display: inline-block;
				margin: 0 $ems 0 0;
				max-width: 4em;
			}
		}
	}
}

::selection{
	background: #0a562f;
	color: #FFF;
}


nav{
	display: inline-block;
	position: absolute;
	bottom: 0;
	font-size: $ems *2;

	a{
		&:visited{
			color:#FFF;
		}
		
		color: #FFF;
		display:block;
		height: 100%;
		text-decoration: none;
		width: 100%;
	}	


	#searcher{
		vertical-align: middle;
	}

	ul{
		list-style: none;
		vertical-align: middle;
		.sI{

			float:left;
			position: relative;
			padding:0 1em;
			&:hover{
				background: #0a562f;
			}
			&:hover ul{display:block;}

			ul{
				background: rgba(56,56,56,0.8);
				display: none;
				position: absolute;

				li{
					&:hover{
						background: #0a562f;
					}

					padding-left: $ems / 2;
					padding-right: $ems / 2;
					white-space: nowrap;
					display: block;
				}
			}
		}
	}
}

#eye{
	/*555x212*/
	display: inline-block;
	width:  30%;
	height: 100%; 
}

#eye img{
	min-width: 323px;
	width: 100%;
}

#searcher{
	background: url(o/schr.png);
}

#pTitle{
	display: block;
	text-align: center;
	font-weight: bold;
	color: #000;
	font-size: $ems * 5;
}

#videosHome
{
	margin: 3em auto 0 auto;
	display: block;
	width: 80%;

	.videoHome{
		width: 33%;
		max-width: 33.1%;
		display: inline-block;
		vertical-align: middle;
	}
}



#description{
	display: block;
	margin: 3em auto;
	width: 80%;
	font-size: 3em;
	text-align: center;
}

#cf_statistics{


	display: block;
	width: 45%;
	margin: 0 auto;
	#data_cf{
		width: 100%;
		list-style: none;

		li{
			border: 1px solid #0a562f;
			border-width: 0.4em 0.4em 1.5em 0.4em;
			max-width: 33.3%;
			display: inline-block;
			vertical-align: middle;
			width: 31%;
			cursor: pointer;

				transition: all 1s ease;
				-moz-transition: all 1s ease;
				-o-transition: all 1s ease;
				-webkit-transition: all 1s ease;
			span{
				font-weight: bold;
				font-size: 2em;
				display: block;
				width: 100%;
				text-align: center;
			}

			&:hover{
				color:#FFF;
				background: rgba(10,86,47,0.6);
				transition: all 1s ease;
				-moz-transition: all 1s ease;
				-o-transition: all 1s ease;
				-webkit-transition: all 1s ease;
			}
		}
	}
}
/* Uriel */

/*Responsive*/
@media all and (max-width: 400px){
  nav{
  	display: block;
  	ul{
  		.sI{
  			display: block;
  		}
  	}
  }

  

  #hp{
  	height: auto;
  	#eye{
  		display: block;
  		width: 100%;
  		img{
  			min-width: 100px;
  			max-width: 100%;
  		}
  	}
  }
}
