#f_contacto{
	background-color: #373B3F;
	box-shadow: 0px 0px 13px rgba(0,0,0,0.7);
	padding: 40px;
	width: 40%;
	margin: 0 auto;
	color: #FFF;
	border-box:box-sizing;
	h1 {
		color: #FFF;
		text-shadow:
		0px 1px 0px #BBB,
		0px 2px 0px #BBB,
		0px 3px 0px #BBB,
		0px 4px 3px #444,
		0px 4px 14px #666;
	}
	label{
		display: block;
	}
	input,textarea{
		background-color: #E7ECEE;
		width: 300px;
	}
	button{
		margin-left: 240px;
		width: 80px;
		display: block;
	}
}