// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content
{
	box-sizing:border-box;
	padding: 20px;
	#video, #desc
	{
		display: inline-block;
		
	}
	#video
	{
		width: 50%;
	}
	#desc
	{
		width: 40%;
		
		color: #000;
		vertical-align: top;
		p{
			font-size: 24px;
			padding-top: 10px;
			margin: 2px;
			border-top: 1px solid #999;
		}
		ul li
		{
			font-size: 24px;
			display: block;
			
		}
	}
}
