// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$textColor: #000;

@mixin defaultBox{
	display: block;
	margin:0 auto;
}

@mixin pBox($t,$l){
	display: inline-block;
	left: -200px;
	margin-top: $t;
	margin-bottom: $t;
}


#main{
	padding: 1em 1em !important;
}

#video{
	color: $textColor;
	@include pBox(3em,auto);
	width: 100%;
	#videoFrame{
		//@include defaultBox;
		float: left;
	}
}
#m_video{
	width: 60%;
}
#a_video{
	width: 30%;
	text-align: right;
}
#m_video, #a_video{
	display: inline-block;
	vertical-align: middle;
	margin: 2%;
}
#topics,#languages{	
	@include defaultBox;

	display: none;
	color: $textColor;
	#topicsTitle{
		@include defaultBox;
	}

	ul{
		@include defaultBox;
		background:rgba(56,56,56,0.5);
		list-style: none;
		width: 100%;

		li{
			
			@include defaultBox;
			padding: 0 0.5em;
			&:hover{
				background: #0a562f;
			}
			a{
				@include defaultBox;
				color:#FFF;
				font-size: 1.5em;
				text-decoration:none;
				padding: 0.2em 0;
				&:hover,&:visited,&:link{
					text-decoration:none;
				}

				&:hover{
					color: #FFF;
				}
			}

		}
	}
}

#playlistInfo{
	color:#000;
	#playList{
		font-size: 4em;
		display: inline-block;
		vertical-align: middle;
	}

	.button{
		cursor: pointer;
		color: #FFF;
		background: rgba(56,56,56,0.8);
		padding: 0.3em;
		font-weight: bold;
		margin-left: 0.1em;
		text-decoration: none;
		a{
			text-decoration: none;
		}

		&:hover{
			background: #0a562f;	
		}
	}
}

#videoTitle{
	color: $textColor;
	font-size: 2.5em;
	padding: 0px;
	margin: 0px;
}
#a_v li{
	padding:10px;
}
#social{
	@include defaultBox;
	width: 200px;
}
#editor{
	position: absolute;
	display: none;
	width: 38%;
	height: 690px;
	overflow: hidden;
    top:290px;
    right:0px;
    textarea{
    	width: 38%;
    	height: 690px;
    	border: solid;
    	border-color: #FFF;
    }
}
#show_languages,#l_o_d{
	display: none;
}
