#brain {
  padding: 3em 3em !important; }

#video {
  color: black;
  display: block;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  #video #videoFrame {
    display: block;
    margin: 0 auto; }

#topics {
  display: block;
  margin: 0 auto;
  display: none;
  color: black; }
  #topics #topicsTitle {
    display: block;
    margin: 0 auto; }
  #topics ul {
    display: block;
    margin: 0 auto;
    background: rgba(56, 56, 56, 0.5);
    list-style: none;
    width: 100%; }
    #topics ul li {
      display: block;
      margin: 0 auto;
      padding: 0 0.5em; }
      #topics ul li:hover {
        background: #0a562f; }
      #topics ul li a {
        display: block;
        margin: 0 auto;
        color: #FFF;
        font-size: 1.5em;
        text-decoration: none;
        padding: 0.2em 0; }
        #topics ul li a:hover, #topics ul li a:visited, #topics ul li a:link {
          text-decoration: none; }
        #topics ul li a:hover {
          color: #FFF; }

#playlistInfo {
  color: #000; }
  #playlistInfo #playList {
    font-size: 4em;
    display: inline-block;
    vertical-align: middle; }
  #playlistInfo #show_topics {
    cursor: pointer;
    color: #FFF;
    background: rgba(56, 56, 56, 0.8);
    padding: 0.3em;
    font-weight: bold;
    margin-left: 1em;
    text-decoration: none; }
    #playlistInfo #show_topics a {
      text-decoration: none; }
    #playlistInfo #show_topics:hover {
      background: #0a562f; }

#videoTitle {
  color: black;
  font-size: 2.5em; }

#social {
  display: block;
  margin: 0 auto;
  width: 198px; }
